body{background-color:#342628
    ;
    
    padding-left: 50px;
    padding-right: 50px;
    }
nav{  
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 1.1em;
    font-weight: bolder;
}
.logo {list-style-type: none;
    display: flex;                
    padding:1px;                    
    background-color: #342628;       
    justify-content: center;
    color:#F7F4EF;
}
.menu {list-style-type: none;
    display: flex;                
    padding:1px;                    
    background-color: #FF9D00;       
    justify-content: right;
}
       
.menu a { list-style-type: none;
    display:block;                  
    min-width: 250px;                
     margin: 1rem;              
    padding: 0.4rem 0;                        
    background-color: #FEAA00;    
    color: #fff;               
    text-decoration: none;        
    border: 2px solid #fff;      
    border-radius: 4px;           
    transition: all 1s ; 
    text-align:center;
    
          
}
.menu a:hover{
    background-color: #3A405A;
    color: white;
    border-color: white;
}


h1{
    text-align: center; 
    color:#F7F4EF;
    padding: 10px;
    font-size: 50px;

}
.presentation{
    color:#F7F4EF;
    margin: 0,1rem;              
    padding: 3rem ;  
    text-align: center;
    font-size: 30px;
}
.actu{
    color:#F7F4EF;
    margin: 0,1rem;              
    padding: 3rem ;  
    text-align: center;
    font-size: 30px;
}
    
h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-align: center; 
    color:#F7F4EF;
    padding: 10px;
    font-size: 50px
}



.canard{
    align-items:center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:25px;
border-radius:30%;
background-color:#788402;
color:#F7F4EF;
padding:3px;
border:2px solid black;
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;

}

.oeufs{
    align-items:center;
display: flex;
justify-content: center;
font-size:25px;
border-radius:30%;
background-color:#FEAA00;
color:#F7F4EF;
padding:3px;
border:2px solid black;
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
text-align: center;
}
.poulet{
    align-items:center;
    display: flex;
    justify-content: center;
    font-size:25px;
    border-radius:30%;
background-color:#788402;
color:#F7F4EF;
padding:3px;
border:2px solid black;
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
text-align: center;
    }
    .carbo{
        align-items:center;
        display: flex;
        justify-content: center;
        font-size:25px;
        border-radius:30%;
background-color:#FF9D00;
color:#F7F4EF;
padding:3px;
border:2px solid black;
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
text-align: center;
        }
        .hypertext{
            text-decoration:none;
            color:black;
            font-style: italic;
            }
     
   
        footer {
            color: #F7F4EF;
            background-color: #FF9D00;
            padding: 20px;
            display: flex;
            justify-content: space-around;
}
        

 